{% extends 'base.html' %}
{% block head %}
  <title>IronStrong | Exercise Lookup</title>
{% endblock %}
{% block nav %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="{{ url_for('exercise') }}">Exercise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{url_for('warmup') }}">Warmup</a>
      </li>
    </ul>
{% endblock %}
{% block body %}
<div class="exercisetype">
<form method="POST">
  <h1 id="title">DO YOU WANT TO GET BIG TODAY?</h1>
  <input id="placeholder" name="exerciselookup" placeholder="Enter an exercise"/>
  <div class="searchbar">
  <label for="exercise">Search by: </label>
<select name="exercise" id="exercise">
  <option value="Muscle" name="muscle">Muscle</option>
  <option value="Exercise" name="exercise">Exercise</option>
</select>
  </div>
  <p style="color: white; margin-top: 20px;">Exercise/Muscle not found! Try again.</p>
</div>

</form>
</div>
{% endblock %}
